.ul_1 {
	list-style-type: none;
	position: relative;
	left: 20px;
	top: 20px;
	width: 270px;
	height: 40px;
	padding: 0px;
}

.li_1 {
	float: left;
	text-align: center;
	position: relative;
	width: 70px;
	border: 1px;
	border-style: solid;
	border-color: #C0C0C0;
	margin: 0px 9px;
}

.a_1:link,
.a_1:visited {
	display: block;
	text-decoration: none;
	color: #000;
	width: 70px;
	height: 38px;
	line-height: 40px;
	background: #C0C0C0;
}

.a_1:hover {
	color: #fff;
	background: #777777;
}

.ul_2 {
	list-style-type: none;
	position: relative;
	left: 20px;
	top: 50px;
	width: 270px;
	padding: 0px;
	display: none;
}

.li_2 {
	text-align: center;
	position: relative;
	width: 268px;
	border: 1px;
	border-style: solid;
	border-color: #C0C0C0;
	margin: 4px;
}

.li_3 {
	float: left;
	text-align: center;
	position: relative;
	width: 125px;
	border: 1px;
	border-style: solid;
	border-color: #C0C0C0;
	margin: 4px;
}

.li_4 {
	float: left;
	text-align: center;
	position: relative;
	width: 115px;
	border: 1px;
	border-style: solid;
	border-color: #C0C0C0;
	margin: 9px;
}

.li_4 label {
	width: 115px;
	line-height: 40px;
}

.li_2:hover,
.li_3:hover,
.li_4:hover {
	border-color: #000000;
}

.a_4:link,
.a_4:visited {
	display: block;
	text-decoration: none;
	color: #000;
	width: 115px;
	height: 40px;
	line-height: 40px;
	background: white;
	overflow: hidden;
}

.drag_1 {
	cursor: pointer;
	width: 268px;
	height: 100px;
}

.drag_2 {
	cursor: pointer;
	width: 125px;
	height: 125px;
}

.inp {
	width: 200px;
	height: 30px;
	border: 0px;
}

.inp:focus {
	outline: none;
	border: 1px solid black;
}

#navigation {
	list-style-type: none;
	position: absolute;
	left: 40px;
	top: 100px;
	width: 270px;
}

#navigation li {
	float: left;
	text-align: center;
	position: relative;
	width: 70px;
	border: 1px;
	border-style: solid;
	border-color: #C0C0C0;
	margin: 9px;
}

#navigation li ul {
	list-style-type: none;
	position: absolute;
	top: 50px;
	width: 270px;
	display: none;
}

#navigation li ul li {
	float: left;
	position: relative;
	width: 125px;
	border: 1px;
	border-style: solid;
	border-color: #C0C0C0;
	margin: 4px;
}

#navigation li a:link,
#navigation li a:visited {
	display: block;
	text-decoration: none;
	color: #000;
	width: 70px;
	height: 40px;
	line-height: 40px;
	background: white;
}

#navigation li a:hover {
	color: #fff;
	background: lightblue;
}

#navigation li ul li a:link,
#navigation li ul li a:visited {
	display: block;
	width: 125px;
	height: 100px;
	line-height: 100px;
}