
/* Table of Content
==================================================
	#Home
	#Navigation
	#About
	#Service
	#Portfolio
	#Our Team
	#Pricing
	#Blog
	#Contact
*/


/*=================================================================
	Basic Setup
==================================================================*/

body {
    background-color: #2B2C30;
	font-family: 'Ubuntu', 'Arial', sans-serif;
    line-height: 1.5;
    color: #ddd;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

a {
    color: #fff;
	
	-webkit-transition: all .3s ease-in 0s;
	   -moz-transition: all .3s ease-in 0s;
		 -o-transition: all .3s ease-in 0s;
			transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: #6CB670;
}

h1, h2, h3, h4, h5, h6 {
    font-family: oswald;
    font-weight: 400;
}

.kill-margin-bottom {
	margin-bottom: 0 !important;
}

.btn {
    background-color: transparent;
    color: #fff;
    padding: 10px 30px;
	border-radius: 0;
    margin-top: 15px;
	
	-webkit-transition: all .5s ease-in 0s;
	   -moz-transition: all .5s ease-in 0s;
		 -o-transition: all .5s ease-in 0s;
			transition: all .5s ease-in 0s;
}

.btn:focus {
	color: #ddd;
}

.btn-green {
    background-color: #6cb670;
}

.btn-green:focus, 
.btn-green:hover {
    background-color: #2F383D;
	color: #fff;
}

.btn-transparent {
	border: 1px solid #4e595f;
}

.btn-transparent:focus {
    background-color: transparent;
    border-color: #6cb670;
}

.btn-transparent:hover {
    background-color: #6cb670;
	border: 1px solid transparent;
    color: #fff;
}

.form-control {
	background-color: #2f383d;
	border-radius: 0;
	padding: 5px 10px;
	border: 0 none;
	color: #ddd;
}

.form-control:focus {
	box-shadow: 0 0 0;
}

.form-control::-webkit-input-placeholder { /*  Chrome, Safari, Opera  */
   color: #ddd;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #ddd;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #ddd;  
}

.form-control:-ms-input-placeholder {  /*  Internet Explorer  */
   color: #ddd;  
}

.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
#loading-mask {
    background: #333439;
    height: 100%;
    left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999999999;
}

.loading-img {
    height: 100%;
    left: 0;
    position: fixed;
    top: 50%;
    width: 100%;
}

.border {
    border-top: 1px solid #fff;
    height: 1px;
    margin: 15px auto 0;
    position: relative;
    width: 35%;
}

.border:before {
    background-color: #fff;
    border: 1px ridge #fff;
    content: "";
    height: 10px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: -5px;
    width: 40px;
}

.title {
    padding-bottom: 60px;
}

.title h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 38px;
    color: #fff;
}

.color {
    color: #6CB670;
}

.sub-title {
    padding: 0 0 50px;
}

.sub-title > h3 {
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
    display: inline-block;
    padding: 5px 25px;
    text-transform: uppercase;
}

.btn.active:focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

.bg-one {
    background-color: #333439;
}

.parallax-section {
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}


/*=================================================================
	Home Slider
==================================================================*/

#home {
    position: relative;
}

#slitSlider .carousel-caption {
	padding: 0;
    display: table;
    height: 100%;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    z-index: 11;
	background-color: rgba(0,0,0,.5);
}

#slitSlider .carousel-caption a {
    font-size: 18px;
}

#slitSlider .carousel-caption > div {
    vertical-align: middle;
    display: table-cell;
}

#slitSlider .carousel-caption h2 {
    color: #FFF;
    font-family: Oswald, sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
}

#slitSlider .carousel-caption h3 {
    color: #FFF;
    font-family: Oswald, sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 59px;
}

 