#innerPage1{
	background-image: url(../img/df7859fe40e1ebf8659dee9aaf8e6afc.png);
	background-size: 100% 100%;
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-items: center;
	width: 800px;
	height: 400px;
}
