*{
	margin: 0;
	padding:0;
	border: 0;
}
body {
  background: #FFFFFF;
  
}
#header {
	background: #FFFFFF;	
	width: 95%;
	height: 50px;
	margin: 0;
}
#outer {
	background: #C0C0C0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	width: 1400px;
	height: 1200px;
	margin: 5px;
	padding: 10px;
}
#inner {
	background: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin:0;
}
#controls{
	background: #FFFFFF;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 330px;
	height: 800px;
	margin: 0;
}
#appear{
	background: #C0C0C0;
	display: flex-start;
	flex-direction: flex-start;
	justify-content: flex-start;
	align-items: center;
	width: 1100px;
	padding:10px;
}
#box{
	
	background-size: 100% 100%;
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-items: center;
	width: 800px;
	height: 800px;
}


